* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    color: #f4f4f4;
    overflow-x: hidden;
}

h1,
h2,
p {
    font-weight: 400;
    color: #f4f4f4;
    margin: 20px 0;
}

h1 {
    font-size: 22px;
    font-weight: 600;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

p {
    font-size: 18px;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 5% 5% 5% 13%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #333;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.side-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8%;
    height: 100%;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
}

.side-navbar a {
    color: #f4f4f4;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.side-navbar a:hover {
    background-color: #676767;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 0 10px;
    list-style: none;
    margin: 10%;
}

.about-profile {
    width: 250px;
    height: 265px;
    border-radius: 10%;
}

.card-about,
.info-card {
    display: flex;
    flex-direction: column;
    width: 83%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    align-items: center;
    margin-top: 2%;
}


.presentation {
    margin: 20px 0;
    font-size: 40px;
}

.card-header {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.presentation-and-images {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img-container {
    margin-left: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-top: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    width: 120px;
    height: 120px;
}

.contact-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #424242;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #676767;
}

.info-text {
    margin: 20px 0;
    font-size: 18px;
    font-weight: 400;
}

.img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
}

#services,
.skills,
.softSkills {
    width: 83%;
    max-width: 100%; /* Añadido */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#services h1,
.skills h1,
.softSkills h1 {
    font-size: 2em;
    color: #f4f4f4;
    margin-bottom: 20px;
}

.service-card,
.skills-card,
.softSkills-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

.service,
.skill,
.softSkill {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    color: #fff;
    flex-basis: calc(33.33% - 20px);
    box-sizing: border-box;
}

.service:hover,
.skill:hover,
.softSkill:hover {
    background-color: #454545;
    transition: all 0.3s ease;
}

.service h2,
.skill h2,
.softSkill h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service p,
.skill p,
.softSkill p {
    font-size: 1em;
}

.skills-card {
    flex-wrap: wrap;
}

.bar {
    width: 100%;
    height: 20px;
    background-color: #444;
    margin-top: 10px;
}

.html,
.css,
.javascript,
.react,
.laravel,
.db {
    height: 100%;
}

.html {
    width: 80%;
    background-color: #f06529;
}

.css {
    width: 80%;
    background-color: #2965f1;
}

.javascript {
    width: 90%;
    background-color: #f0db4f;
}

.react {
    width: 70%;
    background-color: #61dbfb;
}

.laravel {
    width: 60%;
    background-color: #f55247;
}

.db {
    width: 70%;
    background-color: #00758f;
}

.presentation-text {
    font-size: 1.6em;
    margin: 20px 0;
}
.service-item{
    display: flex;
    align-items: center;
    flex-direction: column;
}

a{
    color: #f4f4f4;
}
.icons{
    display: flex;
    align-items: center;
}
.icon-s{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px ;
    border-radius: 0%;

}
@media (min-width: 768px) and (max-width: 769px) {
    .container {
        margin: 5% 5%;
    }

    .side-navbar {
        width: 13%;
    }

    .card-about,
    .info-card,
    #services,
    .skills,
    .skill {
        width: 100%;
        margin-left: 13%;
    }

    .service,
    .skill {
        flex-basis: 100%;
    }

    .service {
        margin-bottom: 20px;
    }


    .skill {
        margin-bottom: 20px;
        
    }

    .img-container {
        margin-left: 0; /* Añadido */
    }
}

@media (max-width: 480px) {
    .container {
        overflow-x: hidden;
    }

    .container {
        margin: 5% 2%;
    }

    .side-navbar {
        display: none;
    }

    .card-about,
    .info-card,
    #services,
    .skills {
        padding: 10px;
        width: 100%;
    }

    .service,
    .skill {
        margin: 5px 0;
        flex-basis: 100%;
    }

    .service,
    .skill {
        margin-bottom: 10px;
    }

    .img-container {
        margin-left: 0; /* Añadido */
    }
}
